<a href="https://colab.research.google.com/github/MartaAmoresCastillejo/AA_PRACTICA1_GRUPO_08/blob/main/Lab2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

In [1]:
import pandas as pd
import numpy as np
import mlxtend as mlx
import matplotlib.pyplot as plt

In [2]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [3]:
import apyori as ap

In [4]:
data = pd.read_csv('BlackFriday.csv', encoding = 'latin_1')
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

* User_ID: Un valor único que identifica a cada comprador.
* Product_ID: Un valor único que identifica cada producto.
* Gender: El género del comprador (M o F).
* Age: Rango de edad del comprador.
* Ocupation: La ocupación del comprador, especificada como valor numérico
* City_Category: La categoría de ciudad en la que se realizó la compra
* Stay_In_Current_City_Years: El número de años que un comprador ha vivido en su ciudad.
* Marital_Status: El estado civil del comprador. 0 denota soltero, 1 denota casado.
* Product_Category_1: La categoría principal del producto, especificada como un número.
* Product_Category_2: La primera subcategoría del producto
* Product_Category_3: La segunda subcategoría del producto

¿Tenemos datos nulos en nuestro dataset?

In [5]:
data.isnull().values.any()

True

¿Cuántos datos nulos tenemos?

In [6]:
data.isnull().sum().sum()

234906

¿Dónde se ubican los datos nulos?

In [7]:
data.columns[data.isnull().any()]

Index(['Product_Category_2', 'Product_Category_3'], dtype='object')

In [8]:
min = data['Product_Category_2'].min()
min

2.0

In [9]:
min2 = data['Product_Category_3'].min()
min2

3.0

De las columnas que tienen datos nulos, su mínimo no es 0, por tanto, le asignamos a los valores nulos el valor 0.

In [10]:
data['Product_Category_2'].fillna(0, inplace=True)
data['Product_Category_3'].fillna(0, inplace=True)
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,0.0
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,0.0
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,0.0
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,0.0
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,0.0,0.0
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,0.0
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,0.0
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,0.0

In [14]:
data2 = data['User_ID'].isin().sum()
data2

TypeError: ignored