<a href="https://colab.research.google.com/github/MartaAmoresCastillejo/AA_PRACTICA1_GRUPO_08/blob/main/Lab2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

In [1]:
import pandas as pd
import numpy as np
import mlxtend as mlx
import matplotlib.pyplot as plt

In [2]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.9/dist-packages (1.1.2)

In [3]:
import apyori as ap
from mlxtend.frequent_patterns import apriori

In [4]:
data = pd.read_csv('BlackFriday.csv', encoding = 'latin_1')
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

* User_ID: Un valor único que identifica a cada comprador.
* Product_ID: Un valor único que identifica cada producto.
* Gender: El género del comprador (M o F).
* Age: Rango de edad del comprador.
* Ocupation: La ocupación del comprador, especificada como valor numérico
* City_Category: La categoría de ciudad en la que se realizó la compra
* Stay_In_Current_City_Years: El número de años que un comprador ha vivido en su ciudad.
* Marital_Status: El estado civil del comprador. 0 denota soltero, 1 denota casado.
* Product_Category_1: La categoría principal del producto, especificada como un número.
* Product_Category_2: La primera subcategoría del producto
* Product_Category_3: La segunda subcategoría del producto

¿Tenemos datos nulos en nuestro dataset?

In [5]:
data.isnull().values.any()

True

¿Cuántos datos nulos tenemos?

In [6]:
data.isnull().sum().sum()

234906

¿Dónde se ubican los datos nulos?

In [7]:
data.columns[data.isnull().any()]

Index(['Product_Category_2', 'Product_Category_3'], dtype='object')

In [8]:
min = data['Product_Category_2'].min()
min

2.0

In [9]:
min2 = data['Product_Category_3'].min()
min2

3.0

De las columnas que tienen datos nulos, su mínimo no es 0, por tanto, le asignamos a los valores nulos el valor 0.

In [10]:
data['Product_Category_2'].fillna(0, inplace=True)
data['Product_Category_3'].fillna(0, inplace=True)
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,0.0
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,0.0
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,0.0
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,0.0
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,0.0,0.0
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,0.0
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,0.0
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,0.0

Vamos a ver cuantos usuarios tenemos en total de nuestro dataset.

In [11]:
dummy = data.drop('User_ID', axis=1)
dummy

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,P00128942,M,46-50,7,B,2,1,1,11.0,0.0
1,P00113442,M,26-35,17,C,0,0,3,5.0,0.0
2,P00288442,F,36-45,1,B,4+,1,5,14.0,0.0
3,P00145342,F,36-45,1,B,4+,1,4,9.0,0.0
4,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...
233594,P00118942,F,26-35,15,B,4+,1,8,0.0,0.0
233595,P00254642,F,26-35,15,B,4+,1,5,8.0,0.0
233596,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,P00124742,F,46-50,1,C,4+,0,10,16.0,0.0
233598,P00316642,F,46-50,0,B,4+,1,4,5.0,0.0

In [12]:
dummy = pd.get_dummies(dummy)
dummy

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID_P00000142,Product_ID_P00000242,Product_ID_P00000342,Product_ID_P00000442,Product_ID_P00000542,...,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,7,1,1,11.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,17,0,3,5.0,0.0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,1,1,5,14.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,1,1,4,9.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,1,0,4,5.0,12.0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,15,1,8,0.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
233595,15,1,5,8.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
233596,15,1,1,5.0,12.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
233597,1,0,10,16.0,0.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
233598,0,1,4,5.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [13]:
dummy['User_ID'] = data['User_ID']
dummy

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID_P00000142,Product_ID_P00000242,Product_ID_P00000342,Product_ID_P00000442,Product_ID_P00000542,...,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,User_ID
0,7,1,1,11.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1000004
1,17,0,3,5.0,0.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1000009
2,1,1,5,14.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1000010
3,1,1,4,9.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1000010
4,1,0,4,5.0,12.0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1000011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,15,1,8,0.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233595,15,1,5,8.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233596,15,1,1,5.0,12.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233597,1,0,10,16.0,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1006037
233598,0,1,4,5.0,0.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006039

In [14]:
dummy = dummy.drop('Occupation', axis=1)
dummy = dummy.drop('Marital_Status', axis=1)
dummy = dummy.drop('Product_Category_1', axis=1)
dummy = dummy.drop('Product_Category_2', axis=1)
dummy = dummy.drop('Product_Category_3', axis=1)
#dummy = dummy.drop('Age',axis=1)
#dummy = dummy.drop('Gender', axis=1)
#dummy = dummy.drop('Stay_In_Current_City_Years',axis=1)
dummy

,Product_ID_P00000142,Product_ID_P00000242,Product_ID_P00000342,Product_ID_P00000442,Product_ID_P00000542,Product_ID_P00000642,Product_ID_P00000742,Product_ID_P00000842,Product_ID_P00000942,Product_ID_P00001042,...,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,User_ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1000004
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1000009
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1000010
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1000010
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1000011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233595,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233596,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006036
233597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1006037
233598,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1006039

In [ ]:

dummy = dummy.groupby("User_ID").sum().reset_index()

In [ ]:
dummy.head()

Los usuarios son únicos

In [ ]:
usuario = len(dummy['User_ID'].unique()) == len(dummy)
print(usuario)